<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Coding Events</title>
    <link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>

<h1>All Events</h1>


<table class="center">
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Picture</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.key}"></td>
            <td th:text="${event.value}"></td>
            <th:block th:if='${event.key.equals("CES")}'>
                <th:block th:replace="fragments :: cesAddress"></th:block>
            </th:block>
            <th:block th:if='${event.key.equals("Hour of Code")}'>
                <th:block th:replace="fragments :: hourOfCodeAddress"></th:block>
            </th:block>
            <th:block th:if='${event.key.equals("Strange Loop")}'>
                <th:block th:replace="fragments :: strangeLoopAddress"></th:block>
            </th:block>
        </tr>

    </th:block>
</table>
</body>
</html>