<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>

</head>
<body>

<th:block th:fragment="hourOfCodeAddress">
    <td>123 Main St.</td>
    <td><img th:src="@{/images/HourOfCodeLogo.png}"></td>
</th:block>

<th:block th:fragment="strangeLoopAddress">
    <td>4098 5th St.</td>
    <td><img th:src="@{/images/StrangeLoopLogo.jpg}"></td>
</th:block>

<th:block th:fragment="cesAddress">
    <td>1 Major St.</td>
    <td><img th:src="@{/images/CES_LOGO.png}"></td>
</th:block>



</body>
</html>